<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Quizzes</h1>
<% if @quizzes.count > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center">Title</th>
        <th colspan="3" style="text-align: center">Actions</th>
      </tr>
    </thead>

    <tbody>

      <% @quizzes.each do |quiz| %>
        <tr>
          <td style="text-align: center"><%= quiz.title %></td>
          <td style="text-align: center"></td>
          <td style="text-align: center"></td>
          <td style="text-align: center"><%= link_to 'Add Questions', edit_quiz_path(quiz), class: 'btn btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
No Quiz has been added yet.
<% end %>
  <br>

  <%= link_to 'New Quiz', new_quiz_path, class: 'btn btn-lg btn-primary', role: 'button' %>

</div>

