    <p class="text-info"><%= notice %></p>

      <div class="row">
        <!-- Takes 3/4 of page -->
        <div class="col-xs-8 col-md-8">
          <h4>Quizzes</h4>
          <table class="table table-striped">
          <% @quizzes.each do |quiz| %>
            <tr>
              <td><%= link_to quiz.title, new_quiz_attempt_path(quiz) %></td>
            </tr>
          <% end %>
          </table>
        </div>

        <!-- Takes the last 1/4 of page -->
        <div class="col-xs-4 col-md-4">
          <h4>Gradebook</h4>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Quiz</th>
              <th>Score</th>
            </tr>
            <% @quizzes_attempted.each do |attempt| %>
            <tr>
              <td><%=link_to attempt.quiz.title, quiz_attempt_path(attempt.quiz, attempt) %></td>
              <td><%= Attempt.get_result(attempt) %> %</td>
            </tr>
            <% end %>
          </table>

        </div>
      </div>
    