<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">QuizApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <%if current_user%>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
       <a class="nav-link" href="#"><%= current_user.first_name %></a>
      </li>
      <li class="nav-item active">
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, :class=>"nav-link" %>
      </li>
    </ul>
    <% else %>
     <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active"><%= link_to 'Signin', new_user_session_path, :class=>"nav-link" %> </li>
      </ul>
    <%end%>

  </div>
</nav>


