<div class="container">
	<!-- Page Features -->
	<!-- Page Heading -->
	<h1 class="my-4 text-center">Welcome
	<large>To QuizApp</large>
	</h1><br/>
	<% if @quizzes.count > 0 %>
	
		<div class="row text-center">
         <% @quizzes.each do |quiz| %>
			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title"><%= quiz.title %></h4>
					</div>
					<div class="card-footer">
						<%= link_to "Start Quiz", new_quiz_attempt_path(:quiz_id=>quiz.id), class: 'btn btn-primary' %>
					</div>
				</div>
			</div>
        <% end %>
		</div>
	
	<% else %>
	<div class="row text-center">
	<p> No quiz has been created yet."
	</div>
	<% end %>
    <!-- /.row -->
</div>
